@charset "ISO-8859-1";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__inner{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list{
	
	display: flex;
	
}
.menu__list-link{
	list-style-type: none;
	text-decoration: none;
	margin-left: 24px;
	color: #2F281E;
	font-size: 14px;
	line-height: 28px;
	
}

.logo{
	
	 color: #2F281E;
	 margin-top: 25px;
}

li {
  text-decoration: none;
  list-style-type: none;
}